* , ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.circle-button-border {
  border: 1px solid #000000;
}

.circle-button {
  width: 22px;
  height: 22px;
  margin: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.badge-light {
  color: #212529;
  background-color: #fff;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.btn-regular {
  padding: .25rem .5rem;
  color: #fff;
  background-color: #007bff;
  font-size: .875rem;
  line-height: 1.5;
}

.btn-default {
  padding: .25rem .5rem;
  color: #000000;
  background-color: #fff;
  font-size: .875rem;
  line-height: 1.5;
}

.btn-gray {
  padding: .25rem .5rem;
  color: black;
  background-color: #aca8a8;
  font-size: .875rem;
  line-height: 1.5;
}

.flex-grow-1 {
  flex-grow: 1;
}

input[type="text"] {
  padding: 2px 4px;
  font-size: 1rem;
}

button {
  font-size: 14px;
}